/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/v16/.suo
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-shm
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-wal
/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/v16/.suo
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-shm
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-wal
