/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/v16/.suo
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-shm
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-wal
/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/v16/.suo
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-shm
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide-wal
/StackoverflowGuide/.vs/StackoverflowGuide/v16/.suo
/StackoverflowGuide/.vs/StackoverflowGuide/config/applicationhost.config
/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide
/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache
/StackoverflowGuide/.vs/StackoverflowGuide/config/applicationhost.config
/StackoverflowGuide/.vs/StackoverflowGuide/v16/Server/sqlite3/storage.ide
/StackoverflowGuide/StackoverflowGuide/ClientApp/package-lock.json
/StackoverflowGuide/StackoverflowGuide/ClientApp/package-lock.json
/StackoverflowGuide/.vs/StackoverflowGuide/DesignTimeBuild/.dtbcache.v2
